FR: Code(s) for client vulnerabilities

If the client advertises its `User-Agent` ([RFC 7231 §5.5.3](https://tools.ietf.org/html/rfc7231#section-5.5.3)), the service is capable of responding with side-channel information even as it processes the request. e.g., if this is `FooClient/0.1b2 BarSDK/1.0 grpc-go/1.2.3`, the server can evaluate whether or not either `FooClient` or `BarSDK` have known CVEs at the advertised versions and provide warnings. e.g.,

    Warning: 299 - "330, Client Vulnerable: BarSDK/1.0, https://…, 2017-12-12"
    Warning: 299 - "410, SDK Vulnerability Update: BarSDK/1.0.1, https://…, 2017-12-13"

or 

    Warning: 299 - "330, Client Vulnerable: FooClient/0.1b2, https://…, 2017-12-12"
    Warning: 299 - "420, Client Vulnerability Update: FooClient/0.1b4, https://…, 2017-12-13"

It is up to the Client and SDK as to how / whether to surface said warnings. The end user may not have control over either version. The owner of `FooClient` may not have control over its use of `BarSDK`, e.g., if that software was contractor-written, delivered and no-longer supported.

This is intended to provide a secondary avenue of communication, as not all API services have a service-consumer dashboard where details about some subset of the client's client fleet that's using a bad client. Even in those cases, the dashboard viewer may not be knowledge enough to know how to track down said clients.